<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>BankAppWeb</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="logo">НашБанк</div>
        <div id="toMain"><a href="/">На главную</a></div>
    </header>

    <main>
        <div class="fragmentForInputs">
            <form method="post" action="/client/create" th:object="${client}">
                <input type="email" name="email" placeholder="Адрес электронной почты">
                <input type="text" name="name" placeholder="Имя">
                <input type="text" name="surname" placeholder="Фамилия">
                <input type="text" name="patronymic" placeholder="Отчество">
                <input type="password" name="password" placeholder="Пароль">
                <input type="submit" value="Создать клиента">
            </form>
        </div>
        <div class="fragmentForInputs">
            <form method="get" action="/client/get">
                <input type="number" name="id" placeholder="Id клиента">
                <input type="submit" value="Получить клиента">
            </form>
        </div>
        <div class="fragmentForInputs">
            <form method="post" action="/client/update" th:object="${client}">
                <input type="number" name="id" placeholder="Id клиента">
                <input type="text" name="name" placeholder="Имя">
                <input type="text" name="surname" placeholder="Фамилия">
                <input type="text" name="patronymic" placeholder="Отчество">
                <input type="password" name="password" placeholder="Пароль">
                <input type="submit" value="Изменить клиента">
            </form>
        </div>
        <div class="fragmentForInputs">
            <form method="post" action="/client/delete">
                <input type="number" name="id" placeholder="Id клиента">
                <input type="submit" value="Удалить клиента">
            </form>
        </div>
        <span th:text="${msg}"></span>
        <span th:text="${client}"></span>
    </main>

    <footer>
        <div id="contacts">Наши контакты: 89231143435, ул. Политехническая 77</div>
    </footer>
</body>
</html>